<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-slides padding class="bg-image" #slider (ionSlideNextEnd)="loadNext()" (ionSlidePrevEnd)="loadPrev()" [initialSlide]="1">
          <ion-slide *ngFor="let n of numbers">
              <h2>Current slide: {{n}}</h2>
          </ion-slide>
      </ion-slides> --> 

      <!--in ion-content-->


  <ion-content>

      <ion-item>
          <ion-label>Person</ion-label>
          <ion-select [(ngModel)]="mac_id" (ionChange)="getLastDataSensors()">
            <ion-option  *ngFor="let item of select_sensors_last" [value]="item.mac_id">{{item.Name_Ruuvitag}}</ion-option>
          </ion-select>
        </ion-item>
          <ion-item  *ngFor="let last_data of sensors_data_last">
            {{last_data.mac_id}}
            {{last_data.temperature}}
            {{last_data.pressure}}
            {{last_data.humidity}}
            {{last_data.Time_Stamp}}
            



          </ion-item>
        
          
      


  </ion-content>