<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-label>Select Show Ruuvitag</ion-label>
    <ion-select [(ngModel)]="selectedItem" multiple="true"  (ionChange)="getLastDataSensors()">
      <ion-option *ngFor="let item of select_mac_home"  [value]="item.mac_id" >{{item.Name_Ruuvitag}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngFor="let d of sensors_data_last">
    <h2 align = "center">Current slide:{{d.Name_Ruuvitag}} </h2>
  </ion-item>  

  <ion-slides pager = "true"   (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let n of sensors_data_last">
          <h2>Current slide:{{n.mac_id}} </h2>
          <h2>Current slide:{{n.temperature}} </h2>
      </ion-slide>
  </ion-slides>
  
  <!-- <ion-content padding class="bg-image" *ngFor="let last_data of sensors_data_last">
      <h1 align='center'>
           {{last_data.Name_Ruuvitag}}
        </h1><br><br>
    <h1 align='center'>
      <ion-icon color="primary" name="bluetooth"></ion-icon> {{last_data.mac_id}}
    </h1><br><br>
    <h1 align='center'>
      <ion-icon color="danger" name="thermometer"></ion-icon> {{last_data.temperature}} ํC
    </h1>
    <br>
    <h1 align='center'>
      <ion-icon color="water" name="water"></ion-icon> {{last_data.humidity}} %
    </h1>
    <br>
    <h1 align='center'>
      <ion-icon color="secondary" name="leaf"></ion-icon> {{last_data.pressure}} hPa
    </h1>
    <br><br><br>
    <h1 align='center'>
      <ion-icon name="clock"></ion-icon> {{last_data.Time_Stamp}}
      
    </h1>




  </ion-content> -->





</ion-content>