page-home {
    .bg-image{
        background-image: url(../../assets/imgs/tree.jpg);
        background-repeat: no-repeat;
        background-position: center;
        //background-size: contain;
    }
    h1{
        color :#050100  ;
    }
    .selector {
        font-family: SFNSDisplay;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        border: solid 2px #e8ebf0;
        background-color: #ffffff;
        text-align: center;
      }
      .option {
        font-family: SFNSDisplay;
        font-size: 8px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        height: 20px;
      }
    
      ion-option .list{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
      .ion-option-items .item{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
     .select-popover {
        font-family: SFNSDisplay !important;
        font-size: 8px !important;
        max-width: 100% !important;
      }
    
}